body {
    color: pink;
}

.content {
    color: lightcoral;
    .title {
        font-size: 24px;
    }
}

.main-img {
    background: url(../images/thumbnail.jpg);
    background-size: contain;
    height: 100vh;
}
