extends ../layouts/_layout.pug
block locals
  - var title = "Hello Access";
block content
  h1 Hello World!
  img(src=require("../../images/icon.png"))
  img(src=require("../../images/thumbnail.jpg"))
