extends ../layouts/_layout.pug
block locals
  - var title = "Hello World";

block content
  h1 Hello HTML!
  img(src=require("../../images/icon.png"))
  img(src=require("../../images/thumbnail.jpg"))
